src/main/resources/api_AlertRetrievalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sap.com/it/op/alerting" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AlertRetrievalService" targetNamespace="http://sap.com/it/op/alerting">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sap.com/it/op/alerting" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sap.com/it/op/alerting">
  <xs:element name="AlertRetrievalFaultInfo" type="tns:alertRetrievalFaultInfo"/>
  <xs:element name="AlertRetrievalInformation" type="tns:alertRetrievalInformation"/>
  <xs:element name="AlertRetrievalRequest" type="tns:alertRetrievalRequest"/>
  <xs:element name="AlertRetrievalResponse" type="tns:alertRetrievalResponse"/>
  <xs:element name="retrieveAlerts" type="tns:retrieveAlerts"/>
  <xs:element name="retrieveAlertsResponse" type="tns:retrieveAlertsResponse"/>
  <xs:complexType name="retrieveAlerts">
    <xs:sequence>
      <xs:element minOccurs="0" name="RetrieveAlertsIn" type="tns:alertRetrievalRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alertRetrievalRequest">
    <xs:sequence>
      <xs:element name="consumerID" type="xs:string"/>
      <xs:element name="maxAlerts" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retrieveAlertsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RetrieveAlertsOut" type="tns:alertRetrievalResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alertRetrievalResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="alerts" nillable="true" type="tns:alertRetrievalInformation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alertRetrievalInformation">
    <xs:sequence>
      <xs:element name="alertPayload" type="xs:string"/>
      <xs:element name="alertsDeleted" type="xs:int"/>
      <xs:element name="errorId" type="xs:string"/>
      <xs:element name="integrationFlowId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alertRetrievalFaultInfo">
    <xs:sequence>
      <xs:element name="faultText" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertRetrievalFault" nillable="true" type="tns:alertRetrievalFaultInfo"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AlertRetrievalFault">
    <wsdl:part element="tns:AlertRetrievalFault" name="AlertRetrievalFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAlertsResponse">
    <wsdl:part element="tns:retrieveAlertsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAlerts">
    <wsdl:part element="tns:retrieveAlerts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AlertRetrieval">
    <wsdl:operation name="retrieveAlerts">
      <wsdl:input message="tns:retrieveAlerts" name="retrieveAlerts">
    </wsdl:input>
      <wsdl:output message="tns:retrieveAlertsResponse" name="retrieveAlertsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AlertRetrievalFault" name="AlertRetrievalFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertRetrievalServiceSoapBinding" type="tns:AlertRetrieval">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveAlerts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retrieveAlerts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveAlertsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlertRetrievalFault">
        <soap:fault name="AlertRetrievalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertRetrievalService">
    <wsdl:port binding="tns:AlertRetrievalServiceSoapBinding" name="AlertRetrievalPort">
      <soap:address location="https://e459999-tmn.hci.ru1.hana.ondemand.com:443/api/AlertRetrievalWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>