src/test/resources/pi_ProfileProcessor/wsdl/file5.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ProfileProcessorWsd/ticket" xmlns:prt0="urn:ProfileProcessorWsd/ProfileProcessorVi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"><Policy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="P1"><ExactlyOne><All><wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"><!--Binding for AuthenticationMethod sapsp:HTTPBasic--><wsp:All><sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"><wsp:Policy><sp:TransportToken><wsp:Policy><!--AuthenticationMethod sapsp:HTTPBasic--><sp:HttpsToken><wsp:Policy><sp:HttpBasicAuthentication/></wsp:Policy></sp:HttpsToken></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:TripleDesRsa15/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All><!--Binding for AuthenticationMethod sapsp:HTTPSSO2--><wsp:All><sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"><wsp:Policy><sp:TransportToken><wsp:Policy><!--AuthenticationMethod sapsp:HTTPSSO2--><sp:HttpsToken><wsp:Policy><sapsp:HTTPSSO2 xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"/></wsp:Policy></sp:HttpsToken></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:TripleDesRsa15/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></All></ExactlyOne></Policy><UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
  <wsdl:import location="file2.wsdl" namespace="urn:ProfileProcessorWsd/ProfileProcessorVi"/>
  <wsdl:binding name="ticketBinding" type="prt0:ProfileProcessorVi"><PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#P1"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getApplications">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHashData">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHashDataPaged">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfiles">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfilesInc">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getViews">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSData">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSDataWithServerNodeId">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSDataDepOfKind">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSDataDepOfKindWithServerNodeId">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSDataIncHashData">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSDataIncHashDataWithServerNodeId">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWSLog">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processAction">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="releaseLock">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlockedMessages">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlockedMessagesWithServerNodeId">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException">
        <soap:fault name="com.sap.aii.af.service.statistic.ws.ProcessorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>