src/test/resources/pi_SLD/dsp8044_2.4.xsd

<!--
DMTF - Distributed Management Task Force, Inc. - http://www.dmtf.org

Release URLs:
http://schemas.dmtf.org/wbem/wbem/cim-xml/2/dsp8044_2.4.0.xsd
http://schemas.dmtf.org/wbem/wbem/cim-xml/2/dsp8044_2.4.xsd

Document number: DSP8044
Date: 2014-01-16
Version: 2.4.0
Document status: DMTF Standard

Title: XSD for Representation of CIM in XML

Document type: Specification (W3C XML Schema Document)
Document language: en-US

Copyright notice:
Copyright (C) 2009-2014 Distributed Management Task Force, Inc. (DMTF). All rights reserved.
DMTF is a not-for-profit association of industry members dedicated to promoting enterprise and systems management and
interoperability.  Members and non-members may reproduce DMTF specifications and documents for uses consistent with this
purpose, provided that correct attribution is given.  As DMTF specifications may be revised from time to time, the
particular version and release date should always be noted.
Implementation of certain elements of this standard or proposed standard may be subject to third party patent rights,
including provisional patent rights (herein "patent rights").  DMTF makes no representations to users of the standard as
to the existence of such rights, and is not responsible to recognize, disclose, or identify any or all such third party
patent right, owners or claimants, nor for any incomplete or inaccurate identification or disclosure of such rights,
owners or claimants.  DMTF shall have no liability to any party, in any manner or circumstance, under any legal theory
whatsoever, for failure to recognize, disclose, or identify any such third party patent rights, or for such party's
reliance on the standard or incorporation thereof in its product, protocols or testing procedures.  DMTF shall have no
liability to any party implementing such standard, whether such implementation is foreseeable or not, nor to any patent
owner or claimant, and shall have no liability or responsibility for costs or losses incurred if a standard is withdrawn
or modified after publication, and shall be indemnified and held harmless by any party implementing the standard from
any and all claims of infringement by a patent owner for such implementations.
For information about patents held by third-parties which have notified the DMTF that, in their opinion, such patent may
relate to or impact implementations of DMTF standards, visit http://www.dmtf.org/about/policies/disclosures.php.

Foreword:
This document was prepared by the DMTF CIM-XML Working Group. DMTF is a not-for-profit association of industry members
dedicated to promoting enterprise and systems management and interoperability. For information about the DMTF, see
http://www.dmtf.org.

Acknowledgments:
The DMTF acknowledges the following individuals for their contributions to this document:
* Andreas Maier (IBM) (Editor of this version)
* George Ericson, EMC (Editor of previous versions)
* Jim Davis, WBEM Solutions
* Karl Schopmeyer, Inova

Introduction:
This XML Schema Definition (XSD) defines the XML schema for DSP0201 (Representation of CIM in XML).

Normative references:
* DMTF DSP0004, CIM Infrastructure Specification 2.7,
  http://www.dmtf.org/standards/published_documents/DSP0004_2.7.pdf
* DMTF DSP0201, Representation of CIM in XML 2.4,
  http://www.dmtf.org/standards/published_documents/DSP0201_2.4.pdf

Change log:
2.3.0 - 2009-09-30 - Released as a DMTF Standard.
2.4.0 - 2014-01-16 - Released as DMTF Standard, with the following changes:
 - Removed target namespace for compatibility with the CIM-XML DTD.
 - Added missing representation of real64 values to RealValue_Type by adding xs:double.
 - Restricted the type of the HOST element from a mixed type to xs:string, consistent with DSP0201 2.4.
 - Removed the ENUMERATIONCONTEXT element, consistent with DSP0201 2.4.
 - Added the CORRELATOR element that was introduced in DSP0201 2.4.
 - Changed TYPE attribute of KEYVALUE to become required.
 - Removed attribute descriptions and reduced element descriptions to a one-liner with a reference to the
   corresponding element in DSP0201, for details.
 - Restructured global definitions (without changing the validated XML document) to better match DSP0201, as follows:
    * Eliminated global simple types that were derived types but had no sufficient distinction from their base types:
      Superclass_Type, CIMVERSION_Type, DTDVERSION_Type.
    * Added global attribute and attribute group definitions corresponding to the CIM-XML DTD entities, and moved global
      simple types that were used by just these attributes, to become local type definitions of these attributes.
    * Moved global types that were used only by one global element, to become local type definitions of these elements.
    * Reordered global definitions and added grouping section comments to be consistent with the order and grouping
      defined in DSP0201.
 - Fixed inconsistencies with DSP0201:
    * Added the CORRELATOR element as an optional child element to the SIMPLEREQ and SIMPLEEXPREQ elements.
    * Removed the QUALIFIER.DECLARATION child element from PARAMVALUE.
    * Added INSTANCEPATH child element to IRETURNVALUE.
    * Removed the EXPPARAMVALUE child elements VALUE, METHODRESPONSE and IMETHODRESPONSE.
 - Changed order of definitions to be consistent with DSP0201.
 - Removed superfluous choice around VALUE.REFERENCE in definition of PROPERTY.REFERENCE element.
 - Added VALUE.INSTANCEWITHPATH as a child element to IRETURNVALUE because it was needed for pulled operations.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:annotation>
        <xs:documentation>
The global declarations in this XML schema other than the root element CIM shall
not be relied on by other schemas using this schema, since they may change
incompatibly in future revisions of this XML schema.

XML instance documents of this XML schema shall use exactly one occurence of
the element CIM as their root element. Other elements shall not be used as a
root element.

DSP0201 is the normative definition for the semantics of the elements and
attributes defined in this XML schema. Any descriptions in this XML schema
are provided for convenience only.

In order to validate a CIM-XML instance document with this XML schema, add
the following attributes to the CIM root element of the CIM-XML instance
document:

xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="http://schemas.dmtf.org/wbem/cim-xml/2/dsp8044_2.4.xsd"
        </xs:documentation>
    </xs:annotation>
    <!-- This section defines various simple types for general use by this schema. -->
    <xs:simpleType name="VersionMNU_Type">
        <xs:annotation>
            <xs:documentation>A type for version values in the form of major.minor.update.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d*.\d*.\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VersionMN_Type">
        <xs:annotation>
            <xs:documentation>A type for version values in the form of major.minor.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d*.\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CIMName_Type">
        <xs:annotation>
            <xs:documentation>A type for the names of CIM schema elements. For details, see DSP0004.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[&#x0041;-&#x005A;&#x005F;&#x0061;-&#x007A;&#x0080;-&#xFFEF;][&#x0030;-&#x0039;&#x0041;-&#x005A;&#x005F;&#x0061;-&#x007A;&#x0080;-&#xFFEF;]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CIMClassName_Type">
        <xs:annotation>
            <xs:documentation>A type for (fully-qualified) CIM class names. For details, see DSP0004.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([&#x0041;-&#x005A;&#x0061;-&#x007A;&#x0080;-&#xFFEF;][&#x0030;-&#x0039;&#x0041;-&#x005A;&#x0061;-&#x007A;&#x0080;-&#xFFEF;]+)?&#x005F;[&#x0030;-&#x0039;&#x0041;-&#x005A;&#x005F;&#x0061;-&#x007A;&#x0080;-&#xFFEF;]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CIMStatusCode_Type">
        <xs:annotation>
            <xs:documentation>A type for the numerical CIM status code that indicates the nature of an error.
The valid CIM status code values are defined in DSP0200.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_FAILED: A general error occurred that is not covered by a more specific error code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_ACCESS_DENIED: Access to a CIM resource is not available to the client.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_NAMESPACE: The target namespace does not exist.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_PARAMETER: One or more parameter values passed to the method are not valid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_CLASS: The specified class does not exist.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_NOT_FOUND: The requested object cannot be found. The operation can be unsupported on behalf of the CIM server in general or on behalf of an implementation of a management profile.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_NOT_SUPPORTED: The requested operation is not supported on behalf of the CIM server, or on behalf of a provided class. If the operation is supported for a provided class but is not supported for particular instances of that class, then CIM_ERR_FAILED shall be used.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_CLASS_HAS_CHILDREN: The operation cannot be invoked on this class because one or more instances of this class exist.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_CLASS_HAS_INSTANCES: Access to a CIM resource is not available to the client.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_SUPERCLASS: The operation cannot be invoked because the specified superclass does not exist.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_ALREADY_EXISTS: The operation cannot be invoked because an object already exists.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_NO_SUCH_PROPERTY: The specified property does not exist.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_TYPE_MISMATCH: The value supplied is not compatible with the type..</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="14">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_QUERY_LANGUAGE_NOT_SUPPORTEDL The query language is not recognized or supported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_QUERY: The query is not valid for the specified query language.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_METHOD_NOT_AVAILABLE: The extrinsic method cannot be invoked.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="17">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_METHOD_NOT_FOUND: The specified extrinsic method does not exist.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="20">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_NAMESPACE_NOT_EMPTY: The specified namespace is not empty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="21">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_ENUMERATION_CONTEXT: The enumeration identified by the specified context cannot be found, is in a closed state, does not exist, or is otherwise invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="22">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_INVALID_OPERATION_TIMEOUT: The specified operation timeout is not supported by the CIM Server.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="23">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_PULL_HAS_BEEN_ABANDONED: The Pull operation has been abandoned due to execution of a concurrent CloseEnumeration operation on the same enumeration.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="24">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_PULL_CANNOT_BE_ABANDONED: The attempt to abandon a concurrent Pull operation on the same enumeration failed. The concurrent Pull operation proceeds normally.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="25">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_FILTERED_ENUMERATION_NOT_SUPPORTED: Using a filter in the enumeration is not supported by the CIM server.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="26">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_CONTINUATION_ON_ERROR_NOT_SUPPORTED: The CIM server does not support continuation on error.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="27">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_SERVER_LIMITS_EXCEEDED: The CIM server has failed the operation based upon exceeding server limits.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="28">
                <xs:annotation>
                    <xs:documentation>CIM_ERR_SERVER_IS_SHUTTING_DOWN: The CIM server is shutting down and cannot process the operation..</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringValue_Type">
            <xs:annotation>
                <xs:documentation>A type for values of the CIM type "string". See DSP0004 and DSP0201 for details.</xs:documentation>
            </xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CharacterValue_Type">
            <xs:annotation>
                <xs:documentation>A type for values of the CIM type "char16". See DSP0004 and DSP0201 for details.</xs:documentation>
            </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RealValue_Type">
            <xs:annotation>
                <xs:documentation>A type for values of the CIM types "real32" or "real64". See DSP0004 and DSP0201 for details.</xs:documentation>
            </xs:annotation>
            <xs:union memberTypes="xs:float xs:double"/>
    </xs:simpleType>
    <xs:simpleType name="BooleanValue_Type">
            <xs:annotation>
                <xs:documentation>A type for values of the CIM type "boolean". See DSP0004 and DSP0201 for details.</xs:documentation>
            </xs:annotation>
        <xs:restriction base="xs:boolean">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntegerValue_Type">
            <xs:annotation>
                <xs:documentation>A type for values of the CIM integer types (signed and unsigned). See DSP0004 and DSP0201 for details.</xs:documentation>
            </xs:annotation>
        <xs:restriction base="xs:integer">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTimeValue_Type">
            <xs:annotation>
                <xs:documentation>A type for values of the CIM type "datetime". See DSP0004 and DSP0201 for details.</xs:documentation>
            </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="25"/>
            <xs:maxLength value="25"/>
            <!-- TODO: Add validation pattern -->
        </xs:restriction>
    </xs:simpleType>
    <!-- Section: Entity Descriptions. -->
    <xs:attribute name="NAME" type="CIMName_Type">
        <xs:annotation>
            <xs:documentation>Defines the name of a schema element;
this attribute corresponds to the %CIMName entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TYPE">
        <xs:annotation>
            <xs:documentation>Defines the CIM type of a schema element;
this attribute corresponds to the %CIMType entity in DSP0201..</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="boolean"/>
                <xs:enumeration value="string"/>
                <xs:enumeration value="char16"/>
                <xs:enumeration value="uint8"/>
                <xs:enumeration value="sint8"/>
                <xs:enumeration value="uint16"/>
                <xs:enumeration value="sint16"/>
                <xs:enumeration value="uint32"/>
                <xs:enumeration value="sint32"/>
                <xs:enumeration value="uint64"/>
                <xs:enumeration value="sint64"/>
                <xs:enumeration value="datetime"/>
                <xs:enumeration value="real32"/>
                <xs:enumeration value="real64"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup name="QualifierFlavor">
        <xs:annotation>
            <xs:documentation>Defines the flavor settings for a CIM qualifier declaration;
this attribute group corresponds to the %QualifierFlavor entity in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="OVERRIDABLE" type="xs:boolean" default="true"/>
        <xs:attribute name="TOSUBCLASS" type="xs:boolean" default="true"/>
        <xs:attribute name="TOINSTANCE" type="xs:boolean" default="false"/>
        <xs:attribute name="TRANSLATABLE" type="xs:boolean" default="false"/>
    </xs:attributeGroup>
    <xs:attribute name="CLASSORIGIN" type="CIMClassName_Type">
        <xs:annotation>
            <xs:documentation>Defines the originating class of a CIM property or method;
this attribute corresponds to the %ClassOrigin entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PROPAGATED" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>Defines whether the property is propagated from another class;
this attribute corresponds to the %Propagated entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ARRAYSIZE" type="xs:positiveInteger">
        <xs:annotation>
            <xs:documentation>Defines the size of a fixed-size array;
this attribute corresponds to the %ArraySize entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SUPERCLASS" type="CIMClassName_Type">
        <xs:annotation>
            <xs:documentation>Defines the name of the superclass of this class;
this attribute corresponds to the %SuperClass entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CLASSNAME" type="CIMClassName_Type">
        <xs:annotation>
            <xs:documentation>Defines the name of this class;
this attribute corresponds to the %ClassName entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="REFERENCECLASS" type="CIMClassName_Type">
        <xs:annotation>
            <xs:documentation>Defines the class name for a reference;
this attribute corresponds to the %ReferenceClass entity in DSP0201.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PARAMTYPE">
        <xs:annotation>
            <xs:documentation>Defines the CIM type of a method parameter value, or method return value
and corresponds to the %ParamType entity in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="boolean"/>
                <xs:enumeration value="string"/>
                <xs:enumeration value="char16"/>
                <xs:enumeration value="uint8"/>
                <xs:enumeration value="sint8"/>
                <xs:enumeration value="uint16"/>
                <xs:enumeration value="sint16"/>
                <xs:enumeration value="uint32"/>
                <xs:enumeration value="sint32"/>
                <xs:enumeration value="uint64"/>
                <xs:enumeration value="sint64"/>
                <xs:enumeration value="datetime"/>
                <xs:enumeration value="real32"/>
                <xs:enumeration value="real64"/>
                <xs:enumeration value="reference"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="EmbeddedObject">
        <xs:annotation>
            <xs:documentation>Defines that the element represent an embedded object or an embedded instance;
this attribute corresponds to the %EmbeddedObject entity in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="instance"/>
                <xs:enumeration value="object"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <!-- Section: Top-Level Element CIM -->
    <xs:element name="CIM">
        <xs:annotation>
            <xs:documentation>The root element of every XML document that is valid with respect to this schema.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="MESSAGE"/>
                <xs:element ref="DECLARATION"/>
            </xs:choice>
            <xs:attribute name="CIMVERSION" type="VersionMNU_Type" use="required"/>
            <xs:attribute name="DTDVERSION" type="VersionMNU_Type" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- Section: Declaration Elements -->
    <xs:element name="DECLARATION">
        <xs:annotation>
            <xs:documentation>A set of CIM schema element declarations, consisting of logical declaration groups.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="DECLGROUP"/>
                <xs:element ref="DECLGROUP.WITHNAME"/>
                <xs:element ref="DECLGROUP.WITHPATH"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="DECLGROUP">
        <xs:annotation>
            <xs:documentation>A logical group of CIM schema element declarations (classes, instances, and
qualifier types/declarations) without any path information.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:element ref="LOCALNAMESPACEPATH"/>
                    <xs:element ref="NAMESPACEPATH"/>
                </xs:choice>
                <xs:element ref="QUALIFIER.DECLARATION" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.OBJECT" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DECLGROUP.WITHNAME">
        <xs:annotation>
            <xs:documentation>A logical group of CIM schema element declarations (classes, instances, and
qualifier types/declarations) with name (local path) information.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:element ref="LOCALNAMESPACEPATH"/>
                    <xs:element ref="NAMESPACEPATH"/>
                </xs:choice>
                <xs:element ref="QUALIFIER.DECLARATION" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.NAMEDOBJECT" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DECLGROUP.WITHPATH">
        <xs:annotation>
            <xs:documentation>A logical group of CIM schema element declarations (classes, instances, and
qualifier types/declarations) with path information.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="VALUE.OBJECTWITHPATH"/>
                <xs:element ref="VALUE.OBJECTWITHLOCALPATH"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="QUALIFIER.DECLARATION">
        <xs:annotation>
            <xs:documentation>Defines a single CIM qualifier type/declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SCOPE" minOccurs="0"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="VALUE"/>
                    <xs:element ref="VALUE.ARRAY"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
            <xs:attribute name="ISARRAY" type="xs:boolean" default="false"/>
            <xs:attribute ref="ARRAYSIZE"/>
            <xs:attributeGroup ref="QualifierFlavor"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SCOPE">
        <xs:annotation>
            <xs:documentation>Defines the scope of a qualifier type/declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="CLASS" type="xs:boolean" default="false"/>
            <xs:attribute name="ASSOCIATION" type="xs:boolean" default="false"/>
            <xs:attribute name="REFERENCE" type="xs:boolean" default="false"/>
            <xs:attribute name="PROPERTY" type="xs:boolean" default="false"/>
            <xs:attribute name="METHOD" type="xs:boolean" default="false"/>
            <xs:attribute name="PARAMETER" type="xs:boolean" default="false"/>
            <xs:attribute name="INDICATION" type="xs:boolean" default="false"/>
        </xs:complexType>
    </xs:element>
    <!-- Section: Value Elements -->
    <xs:element name="VALUE">
        <xs:annotation>
            <xs:documentation>Defines a non-reference, non-NULL scalar value.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:union memberTypes="StringValue_Type CharacterValue_Type RealValue_Type BooleanValue_Type IntegerValue_Type DateTimeValue_Type"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="VALUE.ARRAY">
        <xs:annotation>
            <xs:documentation>Defines an non-reference array value.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="VALUE"/>
                <xs:element ref="VALUE.NULL"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.REFERENCE">
        <xs:annotation>
            <xs:documentation>Defines a non-NULL reference scalar value.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="CLASSPATH"/>
                <xs:element ref="LOCALCLASSPATH"/>
                <xs:element ref="CLASSNAME"/>
                <xs:element ref="INSTANCEPATH"/>
                <xs:element ref="LOCALINSTANCEPATH"/>
                <xs:element ref="INSTANCENAME"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.REFARRAY">
        <xs:annotation>
            <xs:documentation>Defines a reference array value.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="VALUE.REFERENCE"/>
                <xs:element ref="VALUE.NULL"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.OBJECT">
        <xs:annotation>
            <xs:documentation>Defines a value that comprises a CIM object (class or instance) definition.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="CLASS"/>
                <xs:element ref="INSTANCE"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.NAMEDINSTANCE">
        <xs:annotation>
            <xs:documentation>Defines a value that comprises a named CIM instance definition.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="INSTANCENAME"/>
                <xs:element ref="INSTANCE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.NAMEDOBJECT">
        <xs:annotation>
            <xs:documentation>Defines a value that comprises a named CIM object (class or instance) definition.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="CLASS"/>
                <xs:sequence>
                    <xs:element ref="INSTANCENAME"/>
                    <xs:element ref="INSTANCE"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.OBJECTWITHPATH">
        <xs:annotation>
            <xs:documentation>Defines a value that comprises a CIM object (class or instance) definition with additional
information that defines the absolute path to that object.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="CLASSPATH"/>
                    <xs:element ref="CLASS"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element ref="INSTANCEPATH"/>
                    <xs:element ref="INSTANCE"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.OBJECTWITHLOCALPATH">
        <xs:annotation>
            <xs:documentation>Defines a value that comprises a CIM object (class or instance) definition with additional
information that defines the local path to that object.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="LOCALCLASSPATH"/>
                    <xs:element ref="CLASS"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element ref="LOCALINSTANCEPATH"/>
                    <xs:element ref="INSTANCE"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="VALUE.NULL">
        <xs:annotation>
            <xs:documentation>Defines the NULL value.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType/>
    </xs:element>
    <xs:element name="VALUE.INSTANCEWITHPATH">
        <xs:annotation>
            <xs:documentation>Defines a value that comprises a CIM instance definition with additional information that
defines the absolute path to that object.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="INSTANCEPATH"/>
                <xs:element ref="INSTANCE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Section: Naming and Location Elements -->
    <xs:element name="NAMESPACEPATH">
        <xs:annotation>
            <xs:documentation>Defines an (absolute) namespace path.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HOST"/>
                <xs:element ref="LOCALNAMESPACEPATH"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LOCALNAMESPACEPATH">
        <xs:annotation>
            <xs:documentation>Defines a local namespace path (one without a host component).
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NAMESPACE" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HOST">
        <xs:annotation>
            <xs:documentation>Defines a host name and optionally a port number.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="NAMESPACE">
        <xs:annotation>
            <xs:documentation>Defines a single namespace within the namespace component of a namespace path.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CLASSPATH">
        <xs:annotation>
            <xs:documentation>Defines the absolute path to a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NAMESPACEPATH"/>
                <xs:element ref="CLASSNAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LOCALCLASSPATH">
        <xs:annotation>
            <xs:documentation>Defines the local path to a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOCALNAMESPACEPATH"/>
                <xs:element ref="CLASSNAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CLASSNAME">
        <xs:annotation>
            <xs:documentation>Defines the name of a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="NAME" type="CIMClassName_Type" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INSTANCEPATH">
        <xs:annotation>
            <xs:documentation>Defines the absolute path to a CIM instance.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NAMESPACEPATH"/>
                <xs:element ref="INSTANCENAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LOCALINSTANCEPATH">
        <xs:annotation>
            <xs:documentation>Defines the local path to a CIM instance.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOCALNAMESPACEPATH"/>
                <xs:element ref="INSTANCENAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INSTANCENAME">
        <xs:annotation>
            <xs:documentation>Defines the location of a CIM instance within a namespace (it is referred to in DSP0004
as a model path). For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="KEYBINDING" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="KEYVALUE" minOccurs="0"/>
                <xs:element ref="VALUE.REFERENCE" minOccurs="0"/>
            </xs:choice>
            <xs:attribute ref="CLASSNAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OBJECTPATH">
        <xs:annotation>
            <xs:documentation>Defines the full path to a single CIM object (class or instance).
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="INSTANCEPATH"/>
                <xs:element ref="CLASSPATH"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="KEYBINDING">
        <xs:annotation>
            <xs:documentation>Defines a key binding (= key property name and value used in an instance path).
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="KEYVALUE"/>
                <xs:element ref="VALUE.REFERENCE"/>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="KEYVALUE">
        <xs:annotation>
            <xs:documentation>Defines the value of a non-reference (and scalar) key binding.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="VALUETYPE" default="string">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="string"/>
                        <xs:enumeration value="boolean"/>
                        <xs:enumeration value="numeric"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="TYPE" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- Section: Object Definition Elements -->
    <xs:element name="CLASS">
        <xs:annotation>
            <xs:documentation>Defines a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="PROPERTY"/>
                    <xs:element ref="PROPERTY.ARRAY"/>
                    <xs:element ref="PROPERTY.REFERENCE"/>
                </xs:choice>
                <xs:element ref="METHOD" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="SUPERCLASS"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INSTANCE">
        <xs:annotation>
            <xs:documentation>Defines a CIM instance.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="PROPERTY"/>
                    <xs:element ref="PROPERTY.ARRAY"/>
                    <xs:element ref="PROPERTY.REFERENCE"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute ref="CLASSNAME" use="required"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="QUALIFIER">
        <xs:annotation>
            <xs:documentation>Defines a CIM qualifier value.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:element ref="VALUE"/>
                    <xs:element ref="VALUE.ARRAY"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
            <xs:attribute ref="PROPAGATED"/>
            <xs:attributeGroup ref="QualifierFlavor"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROPERTY">
        <xs:annotation>
            <xs:documentation>Defines a non-reference scalar property, that is used as a property value in a CIM instance
or as a property declaration in a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
            <xs:attribute ref="CLASSORIGIN"/>
            <xs:attribute ref="PROPAGATED"/>
            <xs:attribute ref="EmbeddedObject"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROPERTY.ARRAY">
        <xs:annotation>
            <xs:documentation>Defines a non-reference array property, that is used as a property value in a CIM instance
or as a property declaration in a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.ARRAY" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
            <xs:attribute ref="ARRAYSIZE"/>
            <xs:attribute ref="CLASSORIGIN"/>
            <xs:attribute ref="PROPAGATED"/>
            <xs:attribute ref="EmbeddedObject"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PROPERTY.REFERENCE">
        <xs:annotation>
            <xs:documentation>Defines a scalar reference property, that is used as a property value in a CIM instance
or as a property declaration in a CIM class.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.REFERENCE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="REFERENCECLASS"/>
            <xs:attribute ref="CLASSORIGIN"/>
            <xs:attribute ref="PROPAGATED"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="METHOD">
        <xs:annotation>
            <xs:documentation>Defines a CIM method within a class declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="PARAMETER"/>
                    <xs:element ref="PARAMETER.REFERENCE"/>
                    <xs:element ref="PARAMETER.ARRAY"/>
                    <xs:element ref="PARAMETER.REFARRAY"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE"/>
            <xs:attribute ref="CLASSORIGIN"/>
            <xs:attribute ref="PROPAGATED"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PARAMETER">
        <xs:annotation>
            <xs:documentation>Defines a non-reference scalar CIM parameter within a method in a class declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PARAMETER.REFERENCE">
        <xs:annotation>
            <xs:documentation>Defines a reference-typed scalar CIM parameter within a method in a class declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="REFERENCECLASS"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PARAMETER.ARRAY">
        <xs:annotation>
            <xs:documentation>Defines a non-reference array CIM parameter within a method in a class declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
            <xs:attribute ref="ARRAYSIZE"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PARAMETER.REFARRAY">
        <xs:annotation>
            <xs:documentation>Defines a reference-typed array CIM parameter within a method in a class declaration.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALIFIER" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="REFERENCECLASS"/>
            <xs:attribute ref="ARRAYSIZE"/>
        </xs:complexType>
    </xs:element>
    <!-- Section: Message Elements -->
    <xs:element name="MESSAGE">
        <xs:annotation>
            <xs:documentation>Defines a CIM message in the CIM-XML protocol.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="SIMPLEREQ"/>
                <xs:element ref="MULTIREQ"/>
                <xs:element ref="SIMPLERSP"/>
                <xs:element ref="MULTIRSP"/>
                <xs:element ref="SIMPLEEXPREQ"/>
                <xs:element ref="MULTIEXPREQ"/>
                <xs:element ref="SIMPLEEXPRSP"/>
                <xs:element ref="MULTIEXPRSP"/>
            </xs:choice>
            <xs:attribute name="ID" type="xs:string" use="required"/>
            <xs:attribute name="PROTOCOLVERSION" type="VersionMN_Type" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MULTIREQ">
        <xs:annotation>
            <xs:documentation>Defines a multiple CIM operation request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SIMPLEREQ" minOccurs="2" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SIMPLEREQ">
        <xs:annotation>
            <xs:documentation>Defines a simple CIM operation request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CORRELATOR" minOccurs="0" maxOccurs="unbounded"/>
                <xs:choice>
                    <xs:element ref="METHODCALL"/>
                    <xs:element ref="IMETHODCALL"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="METHODCALL">
        <xs:annotation>
            <xs:documentation>Defines a single extrinsic (= class-defined) method invocation request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="LOCALCLASSPATH"/>
                    <xs:element ref="LOCALINSTANCEPATH"/>
                </xs:choice>
                <xs:element ref="PARAMVALUE" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PARAMVALUE">
        <xs:annotation>
            <xs:documentation>Defines a parameter value that is used in an extrinsic (= class defined) and - for
historical reasons - also in an intrinsic method (= operation) request or response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="VALUE"/>
                <xs:element ref="VALUE.REFERENCE"/>
                <xs:element ref="VALUE.ARRAY"/>
                <xs:element ref="VALUE.REFARRAY"/>
                <xs:element ref="CLASSNAME"/>
                <xs:element ref="INSTANCENAME"/>
                <xs:element ref="CLASS"/>
                <xs:element ref="INSTANCE"/>
                <xs:element ref="VALUE.NAMEDINSTANCE"/>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="PARAMTYPE"/>
            <xs:attribute ref="EmbeddedObject"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IMETHODCALL">
        <xs:annotation>
            <xs:documentation>Defines a single intrinsic method (=operation) invocation request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOCALNAMESPACEPATH"/>
                <xs:element ref="IPARAMVALUE" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IPARAMVALUE">
        <xs:annotation>
            <xs:documentation>Defines a parameter value that is used in a intrinsic method (= operation) request or response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="VALUE"/>
                <xs:element ref="VALUE.ARRAY"/>
                <xs:element ref="VALUE.REFERENCE"/>
                <xs:element ref="CLASSNAME"/>
                <xs:element ref="INSTANCENAME"/>
                <xs:element ref="QUALIFIER.DECLARATION"/>
                <xs:element ref="CLASS"/>
                <xs:element ref="INSTANCE"/>
                <xs:element ref="VALUE.NAMEDINSTANCE"/>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MULTIRSP">
        <xs:annotation>
            <xs:documentation>Defines a multiple CIM operation response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SIMPLERSP" minOccurs="2" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SIMPLERSP">
        <xs:annotation>
            <xs:documentation>Defines a simple CIM operation response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="METHODRESPONSE"/>
                <xs:element ref="IMETHODRESPONSE"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="METHODRESPONSE">
        <xs:annotation>
            <xs:documentation>Defines a single extrinsic (= class-defined) method invocation response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="ERROR"/>
                <xs:sequence>
                    <xs:element ref="RETURNVALUE" minOccurs="0"/>
                    <xs:element ref="PARAMVALUE" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IMETHODRESPONSE">
        <xs:annotation>
            <xs:documentation>Defines a single intrinsic method (=operation) invocation response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="ERROR"/>
                <xs:sequence>
                    <xs:element ref="IRETURNVALUE" minOccurs="0"/>
                    <xs:element ref="PARAMVALUE" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ERROR">
        <xs:annotation>
            <xs:documentation>Defines a fundamental error that prevented a method from executing normally
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="INSTANCE" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="CODE" type="CIMStatusCode_Type" use="required"/>
            <xs:attribute name="DESCRIPTION" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RETURNVALUE">
        <xs:annotation>
            <xs:documentation>Defines the return value of an extrinsic (= class defined) method within a response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="VALUE"/>
                <xs:element ref="VALUE.REFERENCE"/>
            </xs:choice>
            <xs:attribute ref="PARAMTYPE"/>
            <xs:attribute ref="EmbeddedObject"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IRETURNVALUE">
        <xs:annotation>
            <xs:documentation>Defines the return value of an intrinsic (= operation) method within a response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="CLASSNAME" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="INSTANCENAME" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.OBJECTWITHPATH" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.OBJECTWITHLOCALPATH" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.OBJECT" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="OBJECTPATH" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="QUALIFIER.DECLARATION" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.ARRAY" minOccurs="0"/>
                <xs:element ref="VALUE.REFERENCE" minOccurs="0"/>
                <xs:element ref="CLASS" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="INSTANCE" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="INSTANCEPATH" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.NAMEDINSTANCE" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="VALUE.INSTANCEWITHPATH" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="MULTIEXPREQ">
        <xs:annotation>
            <xs:documentation>Defines a multiple CIM export (= listener operation) request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SIMPLEEXPREQ" minOccurs="2" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SIMPLEEXPREQ">
        <xs:annotation>
            <xs:documentation>Defines a simple CIM export (= listener operation) request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CORRELATOR" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="EXPMETHODCALL"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXPMETHODCALL">
        <xs:annotation>
            <xs:documentation>Defines a single export method (= listener operation) invocation request.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EXPPARAMVALUE" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MULTIEXPRSP">
        <xs:annotation>
            <xs:documentation>Defines a multiple CIM export response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SIMPLEEXPRSP" minOccurs="2" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SIMPLEEXPRSP">
        <xs:annotation>
            <xs:documentation>Defines a simple CIM export response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EXPMETHODRESPONSE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXPMETHODRESPONSE">
        <xs:annotation>
            <xs:documentation>Defines a single export method (= listener operation) invocation response.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="ERROR"/>
                <xs:element ref="IRETURNVALUE" minOccurs="0"/>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXPPARAMVALUE">
        <xs:annotation>
            <xs:documentation>Defines a parameter value that is used in a request or response of an export method
(= listener operation). For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="INSTANCE" minOccurs="0"/>
            </xs:choice>
            <xs:attribute ref="NAME" use="required"/>
        </xs:complexType>
    </xs:element>
<!--
**************************************************
CHANGE NOTE: The ENUMERATIONCONTEXT element was
removed in version 2.4.0 of this document.
**************************************************
-->
    <xs:element name="CORRELATOR">
        <xs:annotation>
            <xs:documentation>Defines an operation correlator.
For details, see the corresponding element defined in DSP0201.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="VALUE"/>
            </xs:sequence>
            <xs:attribute ref="NAME" use="required"/>
            <xs:attribute ref="TYPE" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
