sapapi/src/test/resources/pi_ProfileProcessor/wsdl/file2.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ProfileProcessorWsd/ProfileProcessorVi" xmlns:ns0="urn:ProfileProcessorVi" xmlns:ns1="urn:ProfileProcessorWsd/ProfileProcessorVi" xmlns:tns="urn:ProfileProcessorWsd/ProfileProcessorVi"><UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:com.sap.aii.af.service.statistic.ws" xmlns:tns="urn:com.sap.aii.af.service.statistic.ws">
      <xs:complexType name="ProcessorException">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:com.sap.aii.af.service.statistic.ws.impl" xmlns:tns="urn:com.sap.aii.af.service.statistic.ws.impl">
      <xs:complexType name="WSApplication">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSHashObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="hash" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSMeasuringPoint">
        <xs:sequence>
          <xs:element minOccurs="0" name="avgValue" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="level" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="maxValue" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="minValue" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSHashPerformanceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="avgRetry" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="avgSize" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="counter" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="hash" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="maxRetry" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="maxSize" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="minRetry" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="minSize" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="wSMeasuringPoint" nillable="true" type="tns:ArrayOfWSMeasuringPoint"/>
          <xs:element minOccurs="0" name="avgRetryFloat" nillable="true" type="xs:float"/>
          <xs:element minOccurs="0" name="timePeriodType" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="timePeriodBegin" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="timePeriodEnd" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSHashCacheObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="counter" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="hash" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="maxTimestamp" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="minTimestamp" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSMessageKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="messageID" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSData">
        <xs:sequence>
          <xs:element minOccurs="0" name="wSHash" nillable="true" type="tns:ArrayOfWSHashObject"/>
          <xs:element minOccurs="0" name="wSHashCache" nillable="true" type="tns:ArrayOfWSHashCacheObject"/>
          <xs:element minOccurs="0" name="wSHashPerformance" nillable="true" type="tns:ArrayOfWSHashPerformanceObject"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSDataExt">
        <xs:complexContent>
          <xs:extension base="tns:WSData">
            <xs:sequence>
              <xs:element minOccurs="0" name="wsServerNodeId" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="WSLog">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="0" name="lastSuccessfulProcessing" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="lastSuccessfulProcessingSt" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="modifyTimestamp" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="modifyTimestampSt" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="node" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="procDuration" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="procLog" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="procStatus" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="processingTimestamp" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="processingTimestampSt" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSPeriod">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginPeriod" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="beginPeriodSt" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="endPeriod" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="endPeriodSt" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="periodType" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="activation" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="profile" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="profileKey" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="view" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="viewKey" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSProfile">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSProfile" nillable="true" type="tns:WSProfile"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSHashPerformanceObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSHashPerformanceObject" nillable="true" type="tns:WSHashPerformanceObject"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSMessageKey">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSMessageKey" nillable="true" type="tns:WSMessageKey"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSMeasuringPoint">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSMeasuringPoint" nillable="true" type="tns:WSMeasuringPoint"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSHashObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSHashObject" nillable="true" type="tns:WSHashObject"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSHashCacheObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSHashCacheObject" nillable="true" type="tns:WSHashCacheObject"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSLog">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSLog" nillable="true" type="tns:WSLog"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWSApplication">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WSApplication" nillable="true" type="tns:WSApplication"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:java/lang" xmlns:tns="urn:java/lang">
      <xs:complexType name="ArrayOfbyte2D">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="byte" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfString">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="String" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:ProfileProcessorVi" xmlns:s0="urn:com.sap.aii.af.service.statistic.ws.impl" xmlns:s1="urn:java/lang" xmlns:tns="urn:ProfileProcessorVi">
      <xs:import namespace="urn:com.sap.aii.af.service.statistic.ws.impl"/>
      <xs:import namespace="urn:java/lang"/>
      <xs:element name="getApplications">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="getApplicationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:ArrayOfWSApplication"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHashData">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHashDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHashDataPaged">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="startIndex" nillable="true" type="xs:int"/>
            <xs:element name="maxResults" nillable="true" type="xs:int"/>
            <xs:element name="onlyUsedHashes" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHashDataPagedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProfiles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="applicationKey" nillable="true" type="xs:string"/>
            <xs:element name="active" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProfilesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:ArrayOfWSProfile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProfilesInc">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="applicationKey" nillable="true" type="xs:string"/>
            <xs:element name="active" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProfilesIncResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:ArrayOfWSProfile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getViews">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getViewsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:ArrayOfWSProfile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataWithServerNodeId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataWithServerNodeIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSDataExt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataDepOfKind">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
            <xs:element name="kind" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataDepOfKindResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataDepOfKindWithServerNodeId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
            <xs:element name="kind" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataDepOfKindWithServerNodeIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSDataExt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataIncHashData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
            <xs:element name="kind" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataIncHashDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataIncHashDataWithServerNodeId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
            <xs:element name="kind" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSDataIncHashDataWithServerNodeIResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSDataExt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSLog">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="type" nillable="true" type="xs:string"/>
            <xs:element name="runningClusterNodes" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWSLogResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:ArrayOfWSLog"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processAction">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wSProfile" nillable="true" type="s0:WSProfile"/>
            <xs:element name="wSPeriod" nillable="true" type="s0:WSPeriod"/>
            <xs:element name="calling" nillable="true" type="xs:dateTime"/>
            <xs:element name="aHash" nillable="true" type="s1:ArrayOfbyte2D"/>
            <xs:element name="aStatus" nillable="true" type="s1:ArrayOfString"/>
            <xs:element name="action" nillable="true" type="xs:string"/>
            <xs:element name="max" nillable="true" type="xs:int"/>
            <xs:element name="ascending" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processActionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:ArrayOfWSMessageKey"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="releaseLock">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="serverNodeId" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="releaseLockResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBlockedMessages">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="selectionBeginTime" nillable="true" type="xs:dateTime"/>
            <xs:element name="latestStatusUpdateTime" nillable="true" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBlockedMessagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBlockedMessagesWithServerNodeId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="selectionBeginTime" nillable="true" type="xs:dateTime"/>
            <xs:element name="latestStatusUpdateTime" nillable="true" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBlockedMessagesWithServerNodeIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:WSDataExt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:ProfileProcessorWsd/ProfileProcessorVi" xmlns:s0="urn:com.sap.aii.af.service.statistic.ws">
      <xs:import namespace="urn:com.sap.aii.af.service.statistic.ws"/>
      <xs:element name="getApplications_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getHashData_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getHashDataPaged_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getProfiles_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getProfilesInc_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getViews_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSData_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSDataDepOfKind_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSDataDepOfKindWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSDataIncHashData_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSDataIncHashDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getWSLog_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="processAction_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getBlockedMessages_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
      <xs:element name="getBlockedMessagesWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" type="s0:ProcessorException"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getApplicationsIn_doc">
    <wsdl:part element="ns0:getApplications" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getApplicationsOut_doc">
    <wsdl:part element="ns0:getApplicationsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getApplications_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getApplications_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getHashDataIn_doc">
    <wsdl:part element="ns0:getHashData" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getHashDataOut_doc">
    <wsdl:part element="ns0:getHashDataResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getHashData_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getHashData_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getHashDataPagedIn_doc">
    <wsdl:part element="ns0:getHashDataPaged" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getHashDataPagedOut_doc">
    <wsdl:part element="ns0:getHashDataPagedResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getHashDataPaged_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getHashDataPaged_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getProfilesIn_doc">
    <wsdl:part element="ns0:getProfiles" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProfilesOut_doc">
    <wsdl:part element="ns0:getProfilesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProfiles_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getProfiles_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getProfilesIncIn_doc">
    <wsdl:part element="ns0:getProfilesInc" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProfilesIncOut_doc">
    <wsdl:part element="ns0:getProfilesIncResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProfilesInc_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getProfilesInc_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getViewsIn_doc">
    <wsdl:part element="ns0:getViews" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getViewsOut_doc">
    <wsdl:part element="ns0:getViewsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getViews_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getViews_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIn_doc">
    <wsdl:part element="ns0:getWSData" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataOut_doc">
    <wsdl:part element="ns0:getWSDataResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSData_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSData_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSDataWithServerNodeIdIn_doc">
    <wsdl:part element="ns0:getWSDataWithServerNodeId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataWithServerNodeIdOut_doc">
    <wsdl:part element="ns0:getWSDataWithServerNodeIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSDataDepOfKindIn_doc">
    <wsdl:part element="ns0:getWSDataDepOfKind" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataDepOfKindOut_doc">
    <wsdl:part element="ns0:getWSDataDepOfKindResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataDepOfKind_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSDataDepOfKind_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSDataDepOfKindWithServerNodeIdIn_doc">
    <wsdl:part element="ns0:getWSDataDepOfKindWithServerNodeId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataDepOfKindWithServerNodeIdOut_doc">
    <wsdl:part element="ns0:getWSDataDepOfKindWithServerNodeIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataDepOfKindWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSDataDepOfKindWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIncHashDataIn_doc">
    <wsdl:part element="ns0:getWSDataIncHashData" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIncHashDataOut_doc">
    <wsdl:part element="ns0:getWSDataIncHashDataResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIncHashData_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSDataIncHashData_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIncHashDataWithServerNodeIdIn_doc">
    <wsdl:part element="ns0:getWSDataIncHashDataWithServerNodeId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIncHashDataWithServerNodeIdOut_doc">
    <wsdl:part element="ns0:getWSDataIncHashDataWithServerNodeIResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSDataIncHashDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSDataIncHashDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getWSLogIn_doc">
    <wsdl:part element="ns0:getWSLog" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSLogOut_doc">
    <wsdl:part element="ns0:getWSLogResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getWSLog_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getWSLog_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="processActionIn_doc">
    <wsdl:part element="ns0:processAction" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="processActionOut_doc">
    <wsdl:part element="ns0:processActionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="processAction_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:processAction_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="releaseLockIn_doc">
    <wsdl:part element="ns0:releaseLock" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="releaseLockOut_doc">
    <wsdl:part element="ns0:releaseLockResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBlockedMessagesIn_doc">
    <wsdl:part element="ns0:getBlockedMessages" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBlockedMessagesOut_doc">
    <wsdl:part element="ns0:getBlockedMessagesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBlockedMessages_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getBlockedMessages_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:message name="getBlockedMessagesWithServerNodeIdIn_doc">
    <wsdl:part element="ns0:getBlockedMessagesWithServerNodeId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBlockedMessagesWithServerNodeIdOut_doc">
    <wsdl:part element="ns0:getBlockedMessagesWithServerNodeIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBlockedMessagesWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc">
    <wsdl:part element="ns1:getBlockedMessagesWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException" name="errorPart"/>
  </wsdl:message>
  <wsdl:portType name="ProfileProcessorVi">
    <wsdl:operation name="getApplications">
      <wsdl:input message="tns:getApplicationsIn_doc"/>
      <wsdl:output message="tns:getApplicationsOut_doc"/>
      <wsdl:fault message="tns:getApplications_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getHashData">
      <wsdl:input message="tns:getHashDataIn_doc"/>
      <wsdl:output message="tns:getHashDataOut_doc"/>
      <wsdl:fault message="tns:getHashData_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getHashDataPaged">
      <wsdl:input message="tns:getHashDataPagedIn_doc"/>
      <wsdl:output message="tns:getHashDataPagedOut_doc"/>
      <wsdl:fault message="tns:getHashDataPaged_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getProfiles">
      <wsdl:input message="tns:getProfilesIn_doc"/>
      <wsdl:output message="tns:getProfilesOut_doc"/>
      <wsdl:fault message="tns:getProfiles_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getProfilesInc">
      <wsdl:input message="tns:getProfilesIncIn_doc"/>
      <wsdl:output message="tns:getProfilesIncOut_doc"/>
      <wsdl:fault message="tns:getProfilesInc_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getViews">
      <wsdl:input message="tns:getViewsIn_doc"/>
      <wsdl:output message="tns:getViewsOut_doc"/>
      <wsdl:fault message="tns:getViews_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSData">
      <wsdl:input message="tns:getWSDataIn_doc"/>
      <wsdl:output message="tns:getWSDataOut_doc"/>
      <wsdl:fault message="tns:getWSData_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSDataWithServerNodeId">
      <wsdl:input message="tns:getWSDataWithServerNodeIdIn_doc"/>
      <wsdl:output message="tns:getWSDataWithServerNodeIdOut_doc"/>
      <wsdl:fault message="tns:getWSDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSDataDepOfKind">
      <wsdl:input message="tns:getWSDataDepOfKindIn_doc"/>
      <wsdl:output message="tns:getWSDataDepOfKindOut_doc"/>
      <wsdl:fault message="tns:getWSDataDepOfKind_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSDataDepOfKindWithServerNodeId">
      <wsdl:input message="tns:getWSDataDepOfKindWithServerNodeIdIn_doc"/>
      <wsdl:output message="tns:getWSDataDepOfKindWithServerNodeIdOut_doc"/>
      <wsdl:fault message="tns:getWSDataDepOfKindWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSDataIncHashData">
      <wsdl:input message="tns:getWSDataIncHashDataIn_doc"/>
      <wsdl:output message="tns:getWSDataIncHashDataOut_doc"/>
      <wsdl:fault message="tns:getWSDataIncHashData_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSDataIncHashDataWithServerNodeId">
      <wsdl:input message="tns:getWSDataIncHashDataWithServerNodeIdIn_doc"/>
      <wsdl:output message="tns:getWSDataIncHashDataWithServerNodeIdOut_doc"/>
      <wsdl:fault message="tns:getWSDataIncHashDataWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getWSLog">
      <wsdl:input message="tns:getWSLogIn_doc"/>
      <wsdl:output message="tns:getWSLogOut_doc"/>
      <wsdl:fault message="tns:getWSLog_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="processAction">
      <wsdl:input message="tns:processActionIn_doc"/>
      <wsdl:output message="tns:processActionOut_doc"/>
      <wsdl:fault message="tns:processAction_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="releaseLock">
      <wsdl:input message="tns:releaseLockIn_doc"/>
      <wsdl:output message="tns:releaseLockOut_doc"/>
    </wsdl:operation>
    <wsdl:operation name="getBlockedMessages">
      <wsdl:input message="tns:getBlockedMessagesIn_doc"/>
      <wsdl:output message="tns:getBlockedMessagesOut_doc"/>
      <wsdl:fault message="tns:getBlockedMessages_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
    <wsdl:operation name="getBlockedMessagesWithServerNodeId">
      <wsdl:input message="tns:getBlockedMessagesWithServerNodeIdIn_doc"/>
      <wsdl:output message="tns:getBlockedMessagesWithServerNodeIdOut_doc"/>
      <wsdl:fault message="tns:getBlockedMessagesWithServerNodeId_com.sap.aii.af.service.statistic.ws.ProcessorException_doc" name="com.sap.aii.af.service.statistic.ws.ProcessorException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>